<p id="notice"><%= notice %></p>

<h1>Listing Userholidays</h1>

<div class="media"></div>
<div class="media-body"></div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Username</th>
            <th>Start</th>
            <th>End</th>
            <th>Managersname</th>
            <th>Duration</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @userholidays.each do |userholiday| %>
            <tr>
              <td><%= userholiday.username %></td>
              <td><%= userholiday.start %></td>
              <td><%= userholiday.end %></td>
              <td><%= userholiday.managersName %></td>
              <td><%= userholiday.duration %></td>
              <td><%= link_to 'Show', userholiday %></td>
              <td><%= link_to 'Edit', edit_userholiday_path(userholiday) %></td>
              <td><%= link_to 'Destroy', userholiday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
   </div>

<br>

<%= link_to 'New Userholiday', new_userholiday_path %>
