<p id="notice"><%= notice %></p>

<div class="row">
  <h1>Holiday Requests</h1>
  <div class="pull-right range-query">
    <%#= form_tag userholidays_path, method: :get do %>
      <%#= text_field_tag 'search[startdate]', @search.startdate %>
      <%#= text_field_tag 'search[enddate]', @search.enddate %>
      <%#= submit_tag 'Search', class: 'btn search-button' %>
    <%# end %>
  </div>
</div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Username</th>
          <th>Managersname</th>
          <th>Start</th>
          <th>End</th>
          <th>Duration</th>
          <th>Status</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      
      <tbody>
        <% @userholidays.each do |userholiday| %>
          <tr>
            <td><%= link_to userholiday.username, userholiday, class: "whatever" %></td>
            <td><%= userholiday.managersName %></td>
            <td><%= userholiday.start %></td>
            <td><%= userholiday.end %></td>
            <td><%= userholiday.duration %> days</td>
            <% if userholiday.status_type.blank? %>
              <td><span class="status status-pending">Pending</span></td>
            <% else %>
              <td><span class="status status-<%= userholiday.status_type %>"><%= userholiday.status_type %></span></td>
            <% end %>
            <td><%= link_to 'Edit', edit_userholiday_path(userholiday) %></td>
            <td><%= link_to 'Delete', userholiday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

<%= link_to 'New Holiday', new_userholiday_path, class: "btn" %>