<p id="notice"><%= notice %></p>

<div>
  <strong>Username:</strong>
  <%= @userholiday.username %>
</div>
<br>
<div>
  <strong>Managersname:</strong>
  <%= @userholiday.managersName %>
</div>
<br>
<div>
  <strong>Start:</strong>
  <%= @userholiday.start %>
</div>
<br>
<div>
  <strong>End:</strong>
  <%= @userholiday.end %>
</div>
<br>
<div>
  <strong>Duration:</strong>
  <%= @userholiday.duration %>
</div>
<br>
<%= link_to 'Edit', edit_userholiday_path(@userholiday) %> |
<%= link_to 'Back', userholidays_path %>
